In [2]:
import pandas as pd
import numpy as np
import os
print(os.getcwd())

/home/alsaibie/Kuwait_HS_Results/sorted_data

In [14]:
#2018
df_2018_STEM_raw = pd.read_csv("2018/2018_STEM_raw.csv")
df_2018_Humanities_raw = pd.read_csv("2018/2018_Humanities_raw.csv")
display(df_2018_STEM_raw.head(2))
display(df_2018_Humanities_raw.head(2))

,النسبة,النجاح,علمي,المدرسة,حكومي/خاص,المنطقة التعليمية,الجنس,الجنسية,الإسم بالكامل,رقم الجلوس,الرقم المدني
0,66.29,ناجح,العلمي,يوسف بن عيسى الثانوية للبنين,حكــومى,العاصمة,بنين,كويتي,أحمد سعود عبد العزيز الرميح,40001,300062700613
1,93.92,ناجح,العلمي,يوسف بن عيسى الثانوية للبنين,حكــومى,العاصمة,بنين,كويتي,أحمد عبد المحسن عبد الله العوده,40002,300082700637

,النسبة,النتيجة,القسم,المدرسة,حكومي/خاص,المنطقة التعليمية,الجنس,الجنسية,الإسم بالكامل,رقم الجلوس,الرقم المدني
0,74.78,ناجح,الأدبي,سليمان العدساني الثانوية للبنين,حكــومى,مبارك الكبير,بنين,كويتي,أحمد خالد حمد الدوسرى,16381,300120200247
1,65.84,ناجح,الأدبي,سليمان العدساني الثانوية للبنين,حكــومى,مبارك الكبير,بنين,كويتي,جاسم احمد جاسم العميري,16385,298122000636

In [20]:
# df_2018_STEM_raw.drop(df_2018_STEM_raw.columns[[]])
df_2018_STEM_fliplr = df_2018_STEM_raw[df_2018_STEM_raw.columns[::-1]].rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})
df_2018_STEM_clean = df_2018_STEM_fliplr.drop(df_2018_STEM_fliplr.columns[[0, 1, 2, 8, 9]], axis=1)

df_2018_Humanities_fliplr = df_2018_Humanities_raw[df_2018_Humanities_raw.columns[::-1]].rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})
df_2018_Humanities_clean = df_2018_Humanities_fliplr.drop(df_2018_Humanities_fliplr.columns[[0, 1, 2, 8, 9]], axis=1)

display(df_2018_STEM_clean.head())
display(df_2018_Humanities_clean.head())
# change column names

df_2018_STEM_clean.to_csv("2018/2018_STEM_clean.csv", sep=",")
df_2018_Humanities_clean.to_csv("2018/2018_Humanities_clean.csv", sep=",")

  الجنسية الجنس  المنطقة حكومي/خاص                       المدرسة النسبة
0   كويتي  بنين  العاصمة   حكــومى  يوسف بن عيسى الثانوية للبنين  66.29
1   كويتي  بنين  العاصمة   حكــومى  يوسف بن عيسى الثانوية للبنين  93.92
2   كويتي  بنين  العاصمة   حكــومى  يوسف بن عيسى الثانوية للبنين  80.09
3   كويتي  بنين  العاصمة   حكــومى  يوسف بن عيسى الثانوية للبنين  85.89
4   كويتي  بنين  العاصمة   حكــومى  يوسف بن عيسى الثانوية للبنين  86.68

,الجنسية,الجنس,المنطقة,حكومي/خاص,المدرسة,النسبة
0,كويتي,بنين,مبارك الكبير,حكــومى,سليمان العدساني الثانوية للبنين,74.78
1,كويتي,بنين,مبارك الكبير,حكــومى,سليمان العدساني الثانوية للبنين,65.84
2,كويتي,بنين,مبارك الكبير,حكــومى,سليمان العدساني الثانوية للبنين,62.69
3,كويتي,بنين,مبارك الكبير,حكــومى,سليمان العدساني الثانوية للبنين,73.46
4,كويتي,بنين,مبارك الكبير,حكــومى,سليمان العدساني الثانوية للبنين,88.39

التعليم الخاص     3609
الأحمدي           2466
حولي              2091
العاصمة           2054
الجهراء           1953
الفروانية         1926
مبارك الكبير      1016
التربية الخاصة      31
Name: المنطقة, dtype: int64

In [10]:
#2017
df_2017_Humanities_raw = pd.read_csv("2017/2017_Humanities_raw.csv")
display(df_2017_Humanities_raw.tail())
display(df_2017_Humanities_raw.describe())
df_2017_STEM_raw = pd.read_csv("2017/2017_STEM_raw.csv")
display(df_2017_STEM_raw.describe())
display(df_2017_STEM_raw.tail())

,النسبة,النجاح,المدرسة,حكومي/خاص,المنطقة التعليمية,الجنس,الجنسية,الإسم بالكامل,رقم الجلوس
15615,73.56,ناجح,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,راشد سلمان مبارك الأشقر العازمي,22201
15616,78.47,ناجح,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,على باقر أكبر أكبر,22202
15617,88.17,ناجح,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,عناد خلف عناد العنزى,22203
15618,71.83,ناجح,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,فهد عبدالرحمن فالح العازمى,22204
15619,60.56,ناجح,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,مشعل محمد مشوح الرشيدى,22205

             النسبة    رقم الجلوس
count  12659.000000  15620.000000
mean      78.935780  11070.511524
std        7.589221   6269.078595
min       57.580000     11.000000
25%       73.420000   5769.750000
50%       78.880000  11132.500000
75%       84.280000  16261.250000
max       99.380000  22205.000000

             النسبة    رقم الجلوس
count  15491.000000  15491.000000
mean      84.119422  42210.991414
std        8.792995   7259.680868
min       58.290000  30002.000000
25%       77.285000  35812.500000
50%       84.200000  41677.000000
75%       91.380000  48344.500000
max       99.940000  55121.000000

,النسبة,المدرسة,حكومي/خاص,المنطقة التعليمية,الجنس,الجنسية,الإسم بالكامل,رقم الجلوس
15486,95.59,الفحيحيل النموذجية الثانوية - بنات - المشتركة,خاص,التعليم الخاص,بنات,مصري,ندى أشرف نبيل بهرام,55070
15487,92.05,الفحيحيل النموذجية الثانوية - بنات - المشتركة,خاص,التعليم الخاص,بنات,كويتي,يارا سيف علي العجمي,55071
15488,82.72,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,احمد عثمان براك الدبيخى,55091
15489,78.28,مركز الرجاء الثانوي رجال,مراكــز,التربية الخاصة,بنين,كويتي,عبد العزيز عافت سعد العنزي,55092
15490,76.09,مركز الرجاء الثانوي نساء,مراكــز,التربية الخاصة,بنات,كويتي,صفيه عبد الله محمد الكهيدان,55121

In [12]:
df_2017_STEM_fliplr = df_2017_STEM_raw[df_2017_STEM_raw.columns[::-1]].rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})
df_2017_STEM_clean = df_2017_STEM_fliplr.drop(df_2017_STEM_fliplr.columns[[0,1]], axis=1)

df_2017_Humanities_fliplr = df_2017_Humanities_raw[df_2017_Humanities_raw.columns[::-1]].rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})
df_2017_Humanities_clean = df_2017_Humanities_fliplr.drop(df_2017_Humanities_fliplr.columns[[0,1, 7]], axis=1)
df_2017_Humanities_clean = df_2017_Humanities_clean[np.isfinite(df_2017_Humanities_clean[u'النسبة'])]

display(df_2017_STEM_clean.tail())
display(df_2017_STEM_clean.describe())
display(df_2017_Humanities_clean.tail())
display(df_2017_Humanities_clean.describe())
df_2017_STEM_clean.to_csv("2017/2017_STEM_clean.csv", sep=",")
df_2017_Humanities_clean.to_csv("2017/2017_Humanities_clean.csv", sep=",")

,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
15486,مصري,بنات,التعليم الخاص,خاص,الفحيحيل النموذجية الثانوية - بنات - المشتركة,95.59
15487,كويتي,بنات,التعليم الخاص,خاص,الفحيحيل النموذجية الثانوية - بنات - المشتركة,92.05
15488,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,82.72
15489,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,78.28
15490,كويتي,بنات,التربية الخاصة,مراكــز,مركز الرجاء الثانوي نساء,76.09

             النسبة
count  15491.000000
mean      84.119422
std        8.792995
min       58.290000
25%       77.285000
50%       84.200000
75%       91.380000
max       99.940000

,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
15615,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,73.56
15616,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,78.47
15617,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,88.17
15618,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,71.83
15619,كويتي,بنين,التربية الخاصة,مراكــز,مركز الرجاء الثانوي رجال,60.56

             النسبة
count  12659.000000
mean      78.935780
std        7.589221
min       57.580000
25%       73.420000
50%       78.880000
75%       84.280000
max       99.380000

In [72]:
#2016
df_2016_Humanities_raw = pd.read_csv("sorted_data/2016/2016_Humanities_raw.csv")
display(df_2016_Humanities_raw.head())

df_2016_STEM_raw = pd.read_csv("sorted_data/2016/2016_STEM_raw.csv")
display(df_2016_STEM_raw.head())

,الرقم المدني,رقم الجلوس,الإسم بالكامل,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
0,298091200909,11,أحمد أنور أحمد البنوان,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,87.95
1,298011500443,12,أحمد عدنان عبدالرضا البنا,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,73.54
2,299012000269,14,حمد محمد سعود الدوسري,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.03
3,298061200756,15,خالد وضاح خالد الزيد,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,69.57
4,298080400323,16,سعد فهد صالح الخنه,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.82

,الرقم المدني,رقم الجلوس,الإسم بالكامل,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
0,298122900626,30001,أحمد خالد سليمان بوكحيل,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.77
1,,30002,أحمد عبدالهادي أحمد عبدالرضا,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,71.05
2,298092900982,30003,أحمد مساعد عبد العزيز البسام,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,70.82
3,298071900377,30004,ابراهيم احمد شاهين الشملان,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,94.29
4,298123000136,30005,احمد انور احمد اليتامى,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,77.45

In [76]:
df_2016_STEM_clean = df_2016_STEM_raw.drop(df_2016_STEM_raw.columns[[0,1,2]], axis=1).rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})
df_2016_Humanities_clean = df_2016_Humanities_raw.drop(df_2016_Humanities_raw.columns[[0,1,2]], axis=1).rename(index=str, columns={u'المنطقة التعليمية': u'المنطقة'})

display(df_2016_STEM_clean.head())
display(df_2016_Humanities_clean.head())

df_2016_STEM_clean.to_csv("sorted_data/2016/2016_STEM_clean.csv", sep=",")
df_2016_Humanities_clean.to_csv("sorted_data/2016/2016_Humanities_clean.csv", sep=",")

,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
0,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.77
1,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,71.05
2,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,70.82
3,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,94.29
4,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,77.45

,الجنسية,الجنس,المنطقة التعليمية,حكومي/خاص,المدرسة,النسبة
0,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,87.95
1,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,73.54
2,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.03
3,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,69.57
4,كويتي,بنين,العاصمة,حكــومى,يوسف بن عيسى الثانوية للبنين,74.82